<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

        <!-- BootStrap -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- MEdium Style Editor yabwe buhtig -->

        <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

        <!-- Custom Css codepen-->

        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <!-- GFonts -->

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Russo+One&display=swap" rel="stylesheet">

        <!-- glyficons -->

        <script src="https://kit.fontawesome.com/56c14be9a2.js" crossorigin="anonymous"></script>

  </head>
  <body class="">

    <!-- NavBar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light techfont custom-navbar">
      <div class="container">
        <div class="navbar-nav align-items-center">

              <a class="navbar-brand bigbrand" href="{% url 'post_list' %}">My blog</a>

              <a class="nav-item nav-link" href="{% url 'about' %}">About</a>

              <a class="nav-item nav-link" href="https://github.com/surajaiswal13">Github</a>

              <a class="nav-item nav-link" href="https://www.linkedin.com/in/suraj-jaiswal-446bba17a/">LinkedIn</a>

            </div>


            <div class="navbar-nav align-items-center ml-auto">

              {% if user.is_authenticated %}

                <a class="nav-item nav-link" href="{% url 'post_new' %}">New Post</a>

                <a class="nav-item nav-link" href="{% url 'post_draft_list' %}">Drafts</a>

                <a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a>

                <a class="nav-item nav-link">Welcome: {{ user.username }} </a>


              {% else %}

    <!-- glyphicon fontawesome -->

                <a class="nav-item nav-link" href="{% url 'login' %}" aria-label='Login'>
                  <span class="fa fa-user" aria-hidden='true'></span>
                </a>


            {% endif %}

            </div>



      </div>
    </nav>

    <!-- Content Block -->

    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog_posts">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
